services:
    authService:
        build:
            context: .
            dockerfile: Services/AuthService/API/Dockerfile
        container_name: auth_service
        image: auth_service:latest
        ports:
            - "5002:5002"
        networks:
            - app_network
        environment:
            ASPNETCORE_URLS: "http://+:5002"
        volumes:
          - ./Database/app.db:/app/Database/app.db

    apiGateway:
        build:
            context: .
            dockerfile: Gateway/ApiGateway/Dockerfile
        container_name: api_gateway
        image: api_gateway:latest
        ports:
            - "5001:5001"
        networks:
            - app_network
        depends_on:
            - authService
        environment:
              ASPNETCORE_URLS: "http://+:5001"
              GRPC_AUTH_SERVICE_URL: "http://auth_service:5002"
              
    serialPortWorker:
      build:
        context: .
        dockerfile: Workers/SerialPortWorker/Dockerfile
      container_name: serial_port_worker
      image: serial_port_worker:latest
      networks:
        - app_network
      devices:
        - "/dev/ttyUSB0:/dev/ttyUSB0"
      environment:
        SERIAL_PORT: "dev/ttyUSB0"
        BAUD_RATE: "57600"
      
networks:
    app_network:
        driver: bridge